@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap");
body {
  overflow: hidden;
}

.App {
  text-align: center;
  font-family: "Inter", sans-serif;
}

/* ----------------------------- */
/* Form */
.forms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.left {
  width: 50vw;
  text-align: center;
}

.head {
  font-size: 35px;
  font-weight: 800;
  color: rgba(0,1,0,255);
}

.sub {
  font-size: 15px;
  color: rgba(163,165,164,255);
}

.illustration {
  width: 50vw;
  height: 100vh;
  background-color: rgba(2,48,71,255);

}


@media (max-width: 888px) {
  .illustration {
    width: 400px;
  }
}

@media (max-width: 766px) {
  .illustration {
    width: 370px;
  }
}
@media (max-width: 700px) {
  .right {
    display: none;
  }
  .left {
    width: 100vw;
    text-align: center;
    margin-top: 70px;
  }
}

@media (max-width: 370px) {
  .head {
    font-size: 30px;
  }

  .sub {
    font-size: 14px;
  }
}
